*{
    margin: 0;
    padding:0;}
body{
    font-family: 'Ubuntu', sans-serif;}
/* BARRA DE NAVEGACION */
ul li {
    list-style: none;}
nav ul li {
    font-size: 20px;
    display: flex !important;
    justify-content: space-between !important;
    margin-left: 4rem;}
.nav-item{
    padding: 1px 7px 2px 6px;
    color:black !important;
    text-decoration: none;
    font-weight: bold;}
.nav-item:hover{
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    border: dotted 1px;}
/* INDEX - INTRODUCCION FOTO */
.introduccion__Foto{
    /*font-weight: bold;*/
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 200%}
.introduccion__FotoDos{
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 200%}
/* INDEX - PIE FOTO */
.introduccion__fotoPie{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;}
/* FOOTER */
.footer__pagina{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;}
    /*row-gap:1em;
    column-gap: 0.5em;}*/
.footer__pagina div{
    padding: 0.65em;
    text-align: center;}
/* FOOTER - SUSCRIBITE */
.footer__suscribite{
    /*display: grid;*/
    /*background-image:linear-gradient(to right, rgb(221, 219, 205),white); */
    background: linear-gradient(to bottom, white, rgb(221, 219, 205));
    font-size: 17px;
    grid-column:1/3;
    color: black;}
/* FOOTER - CONTACTO*/
.footer__contacto{
    background: linear-gradient(to bottom, white, rgb(221, 219, 205));}
/* FOOTER - REDES SOCIALES*/
.footer__redesSociales{
    background-color: white;
    grid-column:1/4;
    font-size:1.5rem;}
.footer__redesSociales p{
    font-size:15px;}
/* FOOTER - ICONOS REDES SOCIALES*/
.icon{
    color:black;
    text-decoration: none;}
.icon-facebook2{
    color:blue;}
.icon-twitter{
    color: rgb(32, 150, 204);}
.icon-instagram{
    color: rgb(156, 28, 156);}
.icon-whatsapp{
    color: rgb(17, 153, 39)}
.icon:hover{
    color:grey;}
/* FOOTER BOTON SUSCRIBITE */
.footer__suscribite input[type="submit"]{
    justify-self: center;
    padding: 10px 40px;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 25%;
    border: 1px solid;
    background-color: grey;
    font-weight: bold;}
.footer__suscribite input[type="submit"]:hover{
    background-color:black;
    color: white;}
/* FOOTER BOTON EMAIL */
.footer__suscribite input[type="email"]{
    justify-self: center;
    width: 45%;
    text-align: center;
    border: 1px solid;
    font-size:15px;
    padding: 10px;}
.footer__contacto h4{
    font-size:20px;
    font-family: 'Ubuntu', sans-serif;}
/* PRODUCTOS - PRECIO */
.titulo__productos{
    font-weight: bold;
    font-size: 2rem;
    /* margin-top: 40px;
    margin-bottom: 40px;*/
    text-align:center;  
    padding-top:7px;}
.sillon__ahora{ 
    text-decoration: underline;
    font-size: 1.3rem;
    color:black;}
/* PRODUCTOS - PRECIO */
.sillon__desde{ 
    text-decoration: line-through;
    font-size:1.1rem;
    color: red;}
/*ERROR*/
.error__imagen{
    background-color: lightgrey;
    background-image: url("../imagenes/fondoerror.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}    
.error__texto {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;}    
.h1__texto {
    font-size: 6rem;
    text-align: center;
    color: black;
    width: 70vw;
    margin: 0 auto;}    
.p__texto {
    color: black;
    font-size: 2rem;
    text-align: center;
    width: 70vw;
    margin: 0 auto;
    padding-bottom: 3rem;}
/*PROMOCIONES*/
.texto__promociones{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top:7px;}
.promos{
    display: flex;
    justify-content: center;
    align-items: center;}
.texto__promociones__pie{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-bottom: 20px;}
/*TIENDAS*/
.texto__tiendas {
    text-align: center;
    font-weight: bold;
    font-size: 25px;}
.texto__tiendasDir{
    margin-top:15px;
    text-align:center;
    font-size: 20px;}
/*CONTACTO*/
.imagen__contacto{
    background-color: white;
    background-image: url("../imagenes/contactofoto.jpg");
    /*height: 100vh;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}
.form{
    width: 450px;
    margin:auto;
    background: rgba (0,0,0,0);
    padding: 10px 20px;
    margin-top: 5px;}
h2{
    color: black;
    text-align: center;
    margin: 0;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 30px;}
main, input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    font-size: 15px;
    border:none;}
textarea{
    min-height: 130px;
    max-height: 200px;
    max-width: 100%;}
.botonEnviar{
    background-color: grey;
    color: white;
    font-size: 17px;
    padding: 10px;}
.botonLimpiar{
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 10px;}
.botonEnviar:hover{
    border:1px solid #fffa;
    cursor: pointer;
    background-color: lightgrey;
    color: black;}
.botonLimpiar:hover{
    border:1px solid #fffa;
    cursor: pointer;
    background-color: lightgrey;
    color: black;}
.colorContacto{
    background-color:rgb(214, 209, 211);}
#notaContacto{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 2px #999;}


/* INDEX - CARROUSEL 
#img{
    width: 1100px;
    height: 500px;}
.img{
    width: 100%;
    height: 100%;}
.title{
    text-decoration: underline;
    font-size: 20px;}
h1{
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;}
 CONTACTO - FORMULARIO DE CONTACTO 
.navbar-light {
    background-image:linear-gradient(to left, rgb(221, 219, 205),white);}

    @media (max-width:992px){
    .container-fluid{
        background-color: white;}
    .titulo__productos{
        font-size: 1.2rem;}
    .introFoto{
        font-size: 1rem;}
    .pieFoto{
        font-size: 1.2rem;}
}
*/

@media (max-width:768px){    
    .footer__pagina{
        display:grid;
        grid-template-areas: "suscribite"
                            "contacto"  
                            "redes";
        grid-template-columns: 1fr;
        grid-template-rows: auto;}    
    .footer__suscribite{
        grid-area: suscribite;}
    .footer__contacto{
        grid-area:contacto;
        background: linear-gradient(to top, white, rgb(221, 219, 205));}
    .footer__redesSociales{
        grid-area:redes;}
    .footer__redesSociales p{
        font-size:22px;}
    .texto__tiendasDir{
        font-size:22px;}
    .texto__tiendas{
            font-size:28px;
            font-weight: bold;
            text-align: center;}
    .tiendas__mapa{
            font-size:18px;
            text-align: center;
            font-weight: bold;}
    .footer__suscribite h2{
            font-size: 25px;
            line-height:40px;
            font-weight: bold;}
    .footer__suscribite h3{
            font-size:19px;}
    .footer__contacto h4{
            display:none;}
    .footer__contacto p{
        font-size: 21px;}
    .footer__suscribite input[type="submit"]{
            padding: 6px 15px;
            font-size: 15px;
            margin-bottom: 6px;
            width: 40%; 
            text-align: center;} 
    .introduccion__Foto{
        font-weight: bold;
        font-size: 1.3rem;
        text-align: center;
        margin-top: 20px;
        line-height:30px;}
    .introduccion__fotoPie{
        margin-top: 15px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color:black;}    
    .centro input[type="submit"]{
        padding: 5px 20px;
        font-size: 10px;
        margin-bottom: 5px;
        width: 35%; }    
    .centro input[type="email"]{
        width: 35%;     
        font-size:12px;
        padding: 10px;
        justify-content: center;
        text-align: center; }
    .footer__suscribite h2{
        font-size: 25px;}
    .footer__suscribite h3{
            font-size:20px;}
    .sillon__ahora{ 
        font-size: 20px; }
    .sillon__desde{ 
        font-size:18px; }
    #notaContacto{
        font-size: 1.95rem;
        font-weight: bold; }
    .mapa {
        width: 400px;
        height: 250px;
        margin: 0 auto; } 
    .h1__texto{
        font-size:55px;
        font-weight: bold;}
    .p__texto{
        font-size:33px;}
    .texto__promociones{
        font-size:24px;}
    .titulo__productos{
        font-size:25px;}
}

@media (max-width:420px){
    .introduccion__Foto{
        font-size: 1rem;
        align-items:center;}    
    .introduccion__fotoPie{
        font-size: 1.4rem;}    
    .texto__promociones{
        font-size: 1.5rem;}
    .texto__promociones__pie{
        font-size:1.3rem;
        margin-top: 20px;
        margin-bottom: 0px;}
    .footer__suscribite h2{
        font-size: 20px;}
    .footer__suscribite h3{
        font-size:19px;}
    .footer__contacto h4{
        display:none;}
    .texto__tiendasDir{
    font-size:20px;}
    .texto__tiendas{
        font-size:23px;
        font-weight: bold;
        text-align: center;}
    .tiendas__mapa{
        font-size:18px;
        text-align: center;
        font-weight: bold;}
    .footer__redesSociales p{
        font-size:20px;}
    .footer__suscribite input[type="submit"]{
        padding: 6px 15px;
        font-size: 17px;
        margin-bottom: 6px;
        width: 70%; }    
    .footer__suscribite input[type="email"]{
        width: 80%;     
        font-size:15px;
        padding: 10px;
        justify-content: center;
        text-align: center;}  
    .sillon__ahora{ 
        font-size: 22px; } 
    .sillon__desde{ 
         font-size:19px; }    
    .centro input[type="submit"]{
        padding: 6px 15px;
        font-size: 15px;
        margin-bottom: 6px;
        width: 45%; }    
    .centro input[type="email"]{
        width: 45%;     
        font-size:15px;
        padding: 10px;
        justify-content: center;
        text-align: center;  } 
    .mapa {
        width: 250px;
        height: 150px;
        margin: 0 auto; }
    .form{
        width: 250px; }
    #notaContacto{
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center; }  
    .titulo__productos{
        line-height:35px;
        margin-bottom:5px;
        font-size:24px;}
    .footer__contacto h4{
        font-size:10px;}
    .h1__texto{
        font-size:45px;
        font-weight: bold;}
    .p__texto{
        font-size:30px;}
    .introduccion__FotoDos{
        display:none;}
 }

@media (max-width:290px){
    .titulo__productos{
        font-size: 15px;
        text-align:center;}
    .sillon__ahora{
        font-size:13px;}
    .sillon__desde{
        font-size: 13px;}
    .texto__promociones{
        font-size:13px;}
    .texto__promociones__pie{
        font-size: 12px;}
    .texto__tiendas{
        font-size: 13px;}
    .texto__tiendasDir{
        font-size:12px;}
    #notaContacto{
        font-size:14px;
        font-weight: bold;
        text-align: center;}    
    .mapa {
        width: 140px;
        height: 90px;
        margin: 0 auto; }
    .form{
        width: 150px;
        border: 5px solid  grey; }
    main, input, textarea{
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 10px;
        border:none; }
    .botonEnviar{
        font-size: 12px;
        padding: 5px;}
    .botonLimpiar{
        font-size: 11px;
        padding: 4px;}
    .h1__texto{
        font-size:20px;
        font-weight: bold;}
    .p__texto{
        font-size:16px;}
}
